<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Twitter Contacts</title>
    <link rel="stylesheet" href="styles/popup.css">
	</head>
	<body>
		<div id="popup-app"></div>

    <!-- templates -->
    <script type="text/html" id="_HeaderView">
      <h1>Twitter Contacts</h1>
      <% if(screenName) { %>
        <div class="head-user"><%= screenName %></div>
      <% } %>
    </script>

    <script type="text/html" id="_UserForm">
      <form>
        <div>
          <label for="screen-name">Screen name</label>
          <input type="text" name="screen-name" placeholder="Your Twitter screen name">
        </div>
        <div>
          <input type="submit" value="Download contacts">
        </div>
      </form>
    </script>

    <script type="text/html" id="_ContactsView">

    </script>

    <script type="text/html" id="_ContactsLoadingView">
      <h2>Loading <%= userIdLength %> contacts for <%= user.screenName %></h2>
      <p><%= length %> of <%= userIdLength %> loaded</p>
      <progress value="<%= requestCount %>" max="<%= blockCount %>"></progress>
    </script>

    <script src="scripts/lib/jquery-1.7.1.min.js"></script>
    <script src="scripts/lib/underscore-min.js"></script>
    <script src="scripts/lib/backbone-min.js"></script>
    <script src="scripts/lib/backbone-chrome-ext-sync.js"></script>
    <script src="scripts/dispatcher.js"></script>
    <script src="scripts/lib/radio.js"></script>

    <!-- globals -->
    <script src="scripts/globals.js"></script>

    <!-- models -->
    <script src="scripts/models/user.js"></script>
    <script src="scripts/models/contact.js"></script>
    <script src="scripts/models/user-ids.js"></script>

    <!-- collections -->
    <script src="scripts/collections/contacts-list.js"></script>
    <script src="scripts/collections/user-lookup.js"></script>

    <!-- views -->
    <script src="scripts/views/contacts-loading-view.js"></script>
    <script src="scripts/views/contacts-view.js"></script>
    <script src="scripts/views/header-view.js"></script>
    <script src="scripts/views/user-form.js"></script>

    <!-- app -->
    <script src="scripts/apps/popup.js"></script>
	</body>
</html>